@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&family=Montserrat:wght@500&family=Oswald&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    
}
/* Header and Nav */
.luis-camus {
    font-family: 'Oswald', sans-serif;
    color: #CBE4DE;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: x-large;
    margin-right: auto;
    margin-left: 10%;
    margin-bottom: 20px;
    display: inline-flex
    
    
    
    
}

.luis-camus:hover {
    
    font-size: xx-large; 
}




li, a, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 19px;
    color: #edf0f1;
    text-decoration: none;
    margin-right: 20px;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 2% 0% 2%;
    background-color: #24252A;
    
}


.nav-buttons {
    list-style: none;
}

.nav-buttons li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-buttons  li a{
    transition: all 0.3s ease 0s;
  
    
}

.nav-buttons li a:hover{
    color: #0088a9;
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    font-size: 22px;
    background-color: #0E8388;
    
    
}

button:hover{
    padding: 9px 25px;
    cursor: pointer;
    background-color: #0E8388;
    border: none;
    border-radius: 50px;
}

body {
    background-color: #2E4F4F;
}

/* End of header and nav */

/* main section */
