@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&family=Montserrat:wght@500&family=Oswald&display=swap');

html {
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    
}
/* Header and Nav */
.luis-camus {
    font-family: 'Oswald', sans-serif;
    color: #CBE4DE;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: x-large;
    display: inline-flex;
    margin-right: auto;
    margin-left: 7%;
    margin-bottom: 20px;

    position: relative;
    top: 5px;
    
    

    
    
}

.luis-camus:hover {
    
    font-size: xx-large; 
    color: #865DFF;
    
}



li, a, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 19px;
    color: #edf0f1;
    text-decoration: none;
}


header {
    width: 100%;
    height:100px;
    background-color: rgb(36, 37, 42, 0.95);
    padding-right: 2%;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    z-index: 12;
    align-items: center;
    
    
    
}


.nav-buttons {
    list-style: none;
   
}

.nav-buttons li {
    display: inline-block;
    padding: 0px 30px;
}

.nav-buttons  li a {
    transition: all 0.3s ease 0s;
  
    
}

.nav-buttons li a:hover{
    color: #0088a9;
}

#home {
    color: #865DFF;
    transition: all 0.3s ease 0s;

}

#home:hover {
    color: #0088a9;
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    font-size: 22px;
    background-color: #0E8388;
    cursor: pointer;
    
}

button:hover{
    padding: 9px 25px;
    
}

body {
    background-color: #24252A;
    
}


/* End of header and nav */

/* main section */

.hero {
    width: 100%;
    height: auto;
    padding: 16% 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #2E4F4F;
    
    
    
}

.dp {
    width: fit-content;
    height: auto;
    clip-path: circle();
    scale: 130%;
    background-color: #CBE4DE;
    transition: all 0.3s ease 0s;
    
    
    

}

.dp:hover {
    
    background-color: #865DFF;

}

.textbox {
    margin: 0 auto;
   
    display: flex;
    justify-content: center;
    padding-left: 10%;
}

.quote {
    font-size: xx-large;
    margin-bottom: 5px;
    transition: all 0.3s ease 0s;
    scale: 110%;
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
    color: #CBE4DE;
    position: relative;
    left: 100px;

}

.quote:hover {
    color: #865DFF;
}


.social {
    display: flex;
    list-style: none;
    position: relative;
    top: 180px;
    
    
}



.facebook, .instagram, .github {
    color: white;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    margin: 0px 12px;
}

.instagram:hover {
    color:#865DFF;
}
.facebook:hover {
    color:#865DFF;
}
.github:hover {
    color:#865DFF;
}





/* end of hero */


/* section */
.section-container {
    background-color: #24252A;
    height: auto;
    max-height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 150px;
}

.section-container > .title-section {
    font-family: 'Oswald', sans-serif;
    font-size: 80px;
    color: #CBE4DE;
    text-align: center;
    padding: 5px 10px;
    padding-bottom: 1px;  
    transition: all 0.3s ease 0s;;
    position: relative;
    top: 30px;
}

.title-section:hover{
    color:#865DFF;
}
    
.project-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url(images/heading\ background.JPG);
    background-size: contain;
    padding: 70px 40px;
    margin: 0px 50px;
    margin-bottom: 50px;
    margin-top: 70px;
}

.project1, .project2 {
    width: 600px;
    height: 300px;
    background-color: rgba(83, 83, 83, 0.64);
}

.project1 {
    display: flex;
    justify-content: center;
    
}

.project1-link {
   scale: 150%;
   margin-top: 60px;
   margin-bottom: 10%;
    
}

.project2-link {
    scale: 150%;
    margin-left: 105px;
   margin-top: 60px;
   margin-bottom: 10%;
}
